<div [ngStyle]="style" class="editable-component">

  <textarea *ngIf="isActivateInput"
    class="{{className}}"
    [(ngModel)]="entity[entityField]"
    [value]="entity[entityField]"
    (keydown.escape)="cancelUpdate()"
    (keyup.enter)="updateEntity()"
    rows="{{rows}}"
    cols="{{cols}}">
  </textarea>

  <span *ngIf="!isActivateInput" class="{{className}} inline">{{entity[entityField]}}</span>
  <div class="inline">
    <button *ngIf="!isActivateInput"
      class="btn btn-sm btn-warning btn-editable"
      (click)="isActivateInput = true">
      Edit
    </button>

    <button *ngIf="isActivateInput"
      class="btn btn-sm btn-success btn-editable"
      (click)="updateEntity()">
      Save
    </button>

    <button *ngIf="isActivateInput"
      class="btn btn-sm btn-danger btn-editable"
      (click)="cancelUpdate()">
      Cancel
    </button>
  </div>
</div>
